body {
  font-family: 'Helvetica', sans-serif;
  background-color: rgb(239, 229, 213);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}
