.startpage {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
    flex-direction: column; /* Stack buttons vertically */
    height: 100vh; /* Full viewport height */
    position: relative; /* Set relative positioning for title placement */
    
    
}

.startpage h1 {
    color: #322203;
    margin-bottom: 50px; 
    right: 0; 
    /* margin: 20px;  */
    
}

.startpage button {
    margin: 10px; /* Add spacing between buttons */
    width: 40%;
}
